{% if data.is_loop %}event['{{ data.task_name }}'] = []
{% include 'indentation.jinja' %}{% include 'loop.jinja' %}
{% include 'indentation.jinja' %}    event['{{ data.task_name }}'].append(sqs_client.create_queue(QueueName={{ data.args[0] }}{{ " if "+data.args[0]+".endswith('.fifo') else "+data.args[0]+" + '.fifo'" if not data.args[0].endswith(".fifo'") }}, Attributes={'FifoQueue': 'true'}))
{% else %}event['{{ data.task_name }}'] = sqs_client.create_queue(QueueName={{ data.args[0] }}{{ " if "+data.args[0]+".endswith('.fifo') else "+data.args[0]+" + '.fifo'" if not data.args[0].endswith(".fifo'") }},
{% include 'indentation.jinja' %}                                                    Attributes={'FifoQueue': 'true'}){% endif %}