{% if data.is_loop %}event['{{ data.task_name }}'] = []
{% include 'indentation.jinja' %}{% include 'loop.jinja' %}
{% include 'indentation.jinja' %}    event['{{ data.task_name }}'].append(sqs_client.list_queues({% if data.args[0] is not none %}QueueNamePrefix={{ data.args[0] }})
{% else %}event['{{ data.task_name }}'] = sqs_client.list_queues({% if data.args[0] is not none %}QueueNamePrefix={{ data.args[0] }}{% endif %}