{% if data.is_loop %}event['{{ data.task_name }}'] = []
{% include 'indentation.jinja' %}{% include 'loop.jinja' %}
{% include 'indentation.jinja' %}    event['{{ data.task_name }}'].append(sns_client.list_topics())
{% else %}event['{{ data.task_name }}'] = sns_client.list_topics(){% endif %}