{% if data.is_loop %}event['{{ data.task_name }}'] = []
{% include 'indentation.jinja' %}{% include 'loop.jinja' %}
{% include 'indentation.jinja' %}    event['{{ data.task_name }}'].append(s3_client.get_object(Bucket={{ data.args[0] }}, Key= {{ data.args[1] }}, Body=str.encode({{ data.args[2] }}))
{% else %}event['{{ data.task_name }}'] = s3_client.get_object(Bucket={{ data.args[0] }}, Key= {{ data.args[1] }}, Body=str.encode({{ data.args[2] }})){% endif %}