{% if data.is_loop %}event['{{ data.task_name }}'] = []
{% include 'indentation.jinja' %}{% include 'loop.jinja' %}
{% include 'indentation.jinja' %}    queue_url = sqs_client.get_queue_url(QueueName={{ data.args[0] }})
{% include 'indentation.jinja' %}    event['{{ data.task_name }}'].append(sqs_client.delete_queue(QueueUrl=queue_url['QueueUrl']))
{% else %}queue_url = sqs_client.get_queue_url(QueueName={{ data.args[0] }})
{% include 'indentation.jinja' %}event['{{ data.task_name }}'] = sqs_client.delete_queue(QueueUrl=queue_url['QueueUrl']){% endif %}